 <% if login? and !current_user?(user) %>
    <% if Follow.follow?(current_user, user) %>
      <form action=<%= "/users/#{user.id}/followers/delete" %> method="post">
        <button id="follow_unfollow" type="submit" class="btn btn-primary">Following</button>
      </form>
      <% else %>
      <form action=<%= request.path_info + "/followers/new" %> method="post">
        <button type="submit" class="btn btn-primary">Follow</button>
      </form>
    <% end %>
  <% end %>