<nav style="background-color:  #ffffff" class="navbar navbar-default" role="navbar">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapsible">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <br>
       <% if login? %>
       <ul class="nav nav-pills navbar-left">
        <li role="presentation" class="active"><a href="/">Home</a></li>
        <li role="presentation"><a href=<%="/users/#{current_user.id}" %>>Profile</a></li>
        <li role="presentation"><a href="#">Messages</a></li>
      </ul>
    <% end %>
    </div>

   

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

        <ul class="nav navbar-nav navbar-right">
          <br>
          <% if login? %>
            <li>
              <%= link_to(current_user.user_name ,"/users/#{current_user.id}") %>
            <li>
              <a href="/logout">Logout</a>
            </li>
          <% else %>
            <li>
              <a href="/login">Login</a>
            </li>
            <li>
              <a href="/signup">Signup</a>
            </li>
          <% end %>
        </ul>
        <br>
                    <img src="twitter.png" id="nanotwitter-logo" class="navbar navbar-nav" >

      </div>
    </div>
  </div>
</nav>
