<form id="tweet-new" action ="/tweets/new" method ="post">
  <textarea class="form-control" name="tweet" placeholder="What's happening?" maxlength="140" rows="3"></textarea>
  <button type="submit" class="btn btn-default">Tweet</button>
</form>
