<form action ="/tweets/new" method ="post">
  <textarea class="form-control" name="tweet" placeholder="tweet" maxlength="140" rows="3"></textarea>
  <button type="submit" class="btn btn-default">Submit</button>
</form>
