<% cache u do %>
  <div class="col-sm-6 col-md-4">
    <div class="thumbnail">
      <div class="caption">
        <h3> <%= link_to(u.name, "/users/#{u.id}") %></h3>
        <p> <%= u.user_name %> </p>
        <%= erb :_follow_button%>
      </div>
    </div>
  </div>
<% end %>
