<%= erb :_user_profile %>

<div class="container">
  <ul>
    <% user.followers.each do |f| %>
      <li>
        <%= link_to(f.user.name, "/users/#{f.user.id}") %>
      </li>
    <% end %>
  </ul>
</div>
