<%= erb :_user_profile %>

<br>
<div class="container">
  <div class="row">
    <% user.followings.each do |f| %>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <div class="caption">
          <h3>   <%= link_to(f.following.name, "/users/#{f.following.id}") %></h3>
          <p> <%= f.following.user_name %> </p>

        </div>
      </div>
    </div>
      <% end %>
  </div>
</div>

