<%= erb :_user_profile %>

<div class="row spacer">
  <div class="span4">...</div>
</div>
<% cache followings_list_cache_key do %>
<div class="container">
  <div class="row">
     <% @users.each do |u| %>
      <%= erb :_user, :locals => { u: u } %>
      
    <% end %>
  </div>
</div>
<% end %>
