<div class="container">
  <% if login? %>
    <form action ="/tweets/new" method ="post" >
      <textarea class="form-control" name="tweet" placeholder="tweet" maxlength="140" rows="3"></textarea>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  <% end %>

  <br>

  <% @recent_tweets.each do |tweet| %>
    <div class="tweet">
      @<%= link_to(tweet.user.user_name, "users/#{tweet.user.id}") %><br>
      <%= tweet.text %><br>
      <%= tweet.retweets_count %> retweets<br>
      <%= tweet.favorites_count %> favorites<br>
    </div>
    <br>
  <% end %>
</div>
