<link href="/css/bootstrap.css" rel="stylesheet">
<link href="/css/bootstrap-responsive.css" rel="stylesheet">
<div class= "site-wrapper">
	<div class= "site-wrapper-inner">
		<div class= "cover-container">
					<div class= "masthead clearfix">
						<div class= "inner">
								</div>
			</div>
			<nav>
			<ul class ="nav masthead-nav">
				<li class= "active"> Home</li>
			</ul>
			</nav>
		<h3>Show all Users</h3>
		<div class = "inner cover">
			<table class="table table-striped">
			<tr>
			<th> Username </th> <td> Email </th>
			</tr>
			<% @user.each do |user| %>
			<tr>
				
				<td> <%= user.user_name %></td>
				<td> <%= user.email %></td>
			</tr>
			<% end %>
		</table>
				</div>
			</div>
		</div>
</div>