<div class="container">
  <% @recent_tweets.each do |tweet| %>
    <div class="tweet">
      @<%= tweet.user.user_name %><br>
      <%= tweet.text %><br>
      <%= tweet.retweets_count %> retweets<br>
      <%= tweet.favorites_count %> favorites<br>
    </div>
    <br>
  <% end %>
</div>
