<% cache search_users_cache_key(params[:search_term]) do %>
<div class="container">
  <p>Users</p>
  <%if (@users.nil? || @users.length == 0)%>
    <p>No Users Found</p>
  <% else %>
    <div class="row">
      <% @users.each do |u| %>
        <%= erb :_user, :locals => { u: u } %>
      <% end %>
    </div>
  <% end %>
<% end %>

<% cache search_hashtags_cache_key(params[:search_term]) do %>
<p>Tweets</p>
<%if (@tweets.nil? || @tweets.length == 0)%>
    <p>No Tweets Found</p>
  <% else %>
      <%= erb :_tweets_list %>    
  <% end %>
</div>
<% end %>