<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>NanoTwitter</title>
  </head>

  <body>
    testuser id: <span id="testuser">null</span><br>
    users: <span id="users">0</span><br>
    follows: <span id="follows">0</span><br>
    tweets: <span id="tweets">0</span><br>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>

    function testuser() {
      $.ajax({
        url: "<%= "#{request.base_url}/api/v1/testuser" %>",
        dataType: "json",
        cache: false,
        success: function( data ) {
          if (data) {
            $("#testuser").text(data.id);
          }
        }
      })
    }

    function userNumber() {
      $.ajax({
        url: "<%= "#{request.base_url}/api/v1/users" %>",
        dataType: "json",
        cache: false,
        success: function( data ) {
          $("#users").text(data.count);
        }
      })
    }

    function followNumber() {
      $.ajax({
        url: "<%= "#{request.base_url}/api/v1/follows" %>",
        dataType: "json",
        cache: false,
        success: function( data ) {
          $("#follows").text(data.count);
        }
      })
    }

    function tweetNumber() {
      $.ajax({
        url: "<%= "#{request.base_url}/api/v1/tweets" %>",
        dataType: "json",
        cache: false,
        success: function( data ) {
          $("#tweets").text(data.count);
        }
      })
    }

    testuser();
    userNumber();
    followNumber();
    tweetNumber();

    setInterval(function() {
      testuser();
      userNumber();
      followNumber();
      tweetNumber();
    }, 7000);

    </script>
  </body>
</html>
