
.userprofile {
  position: absolute;
  z-index:1;
}

.linkto {
  z-index:1;
}
.usernav {
  position: relative;
  width: 100%;
  border: 10px solid white;
  background-color: white;
}

.spacer {
  margin-top: 100px; /* define margin as you see fit */
}

body {
  background-color: #1dcaff;
}

#nanotwitter-logo {
  width:20%;
  height:20%;
}

.panel {
  width: 75%;
}

.panel-heading .panel-body {
  word-wrap: break-word;
}

#tweet-new {
  width: 75%;
}

#avatar {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius-bottomright: 10px;
  -webkit-border-bottom-right-radius: 10px;
  border-radius: 5px;
  width:100%;
  height:100%;
  border: 10px solid #ffffff;
}
