body {
  background-color: #F5F8FA;
}

.tweet {
  background-color: #FFFFFF;
  border: 1px solid #E3E3E3;
  border-radius: 3px;
  width: 75%;
}

.tweet-header {
  background-color: #F7F7F7;
  padding: 10px 15px;
  word-wrap: break-word;
}

.tweet-content {
  padding: 10px 15px;
  word-wrap: break-word;
}

#tweet-new {
  width: 75%;
}
